__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
env/
venv/
.venv/
.env
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
*.log
.ipynb_checkpoints/
media/
*.pdf
*.docx
.cache/
huggingface/
**/.cache/
**/huggingface/
*.pt
*.bin
*.safetensors
build/
dist/
.idea/
*.bak
*.swp
*.tmp
